:root{
    --aside-width:20%;
    --color-primary:#FFFFFF;
    --main-background:#1e1d36;
    --btn-background:#f75842;
    ---second-primary-color:#141414;
    --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-sm:94%;
}
/*===============
    media query
===============*/
/*=======================
    header mobile responsive
=======================*/
@media screen and (max-width:576px) {
    .header-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .header-left h1{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 0.8rem;
    }
    .live-btn{
        display:flex;
        justify-content: center;
    }
    .header-left p{
        text-align: justify;
    }
}
/*==========================
    header tablet responsive
============================*/
@media screen and (min-width:577px) and (max-width:992px) {
    .header-container{
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .header-left h1{
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 2.2rem;
        margin-bottom: 0.4rem;
    }
    .header-left p{
        font-size: 11px;
        line-height: 1rem;
    }
    .live-btn{
        margin-top: 0.7rem;
    }
}
/*========================
    blog mobile responsive
========================*/
@media screen and (max-width:576px) {
    section{
        padding:1.4rem 0rem;
    }
    .blog-container{
        flex-direction: column;
    }
    .left-aside{
        width: 100%;
        background-color:var(--color-primary);
    }
    .blog-wrap{
        width: 100%;
        grid-template-columns:repeat(1, 1fr);
    }
    .transfer-btn{
        width: 28%;
    }
}
/*===========================
    blog tablet responsive
============================*/
@media screen and (min-width:577px)and (max-width:992px) {
    .blog-container{
        flex-direction: column;
    }
    .left-aside{
        width: 100%;
        background-color:var(--color-primary);
    }
    .menu-btn > li{
        display: inline-flex;
        margin: 0px 10px;
    }
    .blog-wrap{
        width: 100%;
        grid-template-columns:repeat(2, 1fr);
    }
    .transfer-btn{
        width: 61%;
    }
    .btn-container > a.view-all-btn{
        visibility: visible;
    }
}
/*============================
    footer mobile responsive
============================*/
@media screen and (max-width:576) {
    .main-footer{
        width:var(--container-width-lg);
    }
    .footer-link-wrap{
        width:100%;
    }
    .footer-link-wrap > .footer-link li{
        flex-direction: column;
    }
    .footer-link-wrap > .footer-link li a{
        display: initial;
    }
}
