/*---------
google fonts 
------- */
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Oswald:wght@200;400;500&family=Poppins:ital,wght@0,300;0,400;1,500&family=Roboto:ital,wght@0,300;0,400;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&display=swap');
/*-----------------
     common style 
------------------ */
*{
    margin: 0;
    padding:0;
    text-decoration:none;
    box-sizing:border-box;
}
:root{
    --color-primary:#FFFFFF;
    --header-background:#6c63ff;
    --btn-background:#f75842;
    --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-sm:94%;
}
body{
    font-family: ;
    line-height:1.7;
    color:var(--color-primary);
}
section{
    padding:6rem 0;
}
img{
    width:100%;
    display:block;
    object-fit:cover;
}
.btn{
    display:inline-block;
    background-color: var(--btn-background);
    padding: 1rem 2rem;
    border:1px solid transparent;
    font-weight:500;
}
